.header {
    width:100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right:20px;
    background-color: #000;
    color: #fff;
    font-family: Helvetica;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.header-navLinks {
    font-size:16px;
    text-shadow: 0.5px 0.5px #808080;
}

.header-navLinks:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}


.footer {
    position:fixed;
    bottom:0%;
    width:100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right:20px;
    background-color: #000;
    color: #fff;
    font-family: Helvetica;
    display: flex;
    justify-content:center;
    align-items: center;
    border-top:1px solid #fff;
    
}
